// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
	display: block;
}

.passenger-form {
	margin-top: 10px;
	border-top: 1px solid black;
}

label {
	margin-top: 5px;
}